

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 0.5rem;
}
.login{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    font-size: 0.7rem;
    
}

.tlt2{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 0.3rem;
}


