.date{
    width: 15%;
}
.num{
    width:5%;
}
.reg{
    width: 15%;
}
.person{
    width: 10%;
}
.boardtable{
    height: 400px;
}
.a_boardtable{
    height:30px;
}
.leftB{
    margin-right: 10px;
}
.b_title{
    margin-top: 15px;;
}
.b_content{
    margin: 20px;
}